.carIcon {
    font-size: 6em;
    
    padding: 30px 20px;
}

.carIcon:hover {
    cursor: pointer;
}

#firstLine,
#secondLine {
    text-align: center;
}

@media (max-width: 750px) {
    .carIcon {
        font-size: 4em;
    }
}

@media (max-width: 550px) {
    .carIcon {
        font-size: 2em;
        padding: 30px 15px;
    }
}
